<div class="container mt-3 bg-dark p-4 text-light">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Productos</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Celulares</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Smartwatches</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Laptops</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Accesorios</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Audio y parlantes</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5>Nosotros</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Quiénes somos</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Nuestro equipo</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Tiendas físicas</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Testimonios</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Contáctanos</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5>Enlaces útiles</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Preguntas frecuentes</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Política de privacidad</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Términos y condiciones</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Garantías y devoluciones</a></li>
          <li class="nav-item mb-3"><a href="#" class="nav-link p-0 text-light">Blog de tecnología</a></li>
        </ul>
      </div>
      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Suscríbete a nuestro boletín</h5>
          <p>Recibe novedades y ofertas de nuestros productos electrónicos.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Correo electrónico</label>
            <input id="newsletter1" type="email" class="form-control" placeholder="Correo electrónico">
            <button class="btn btn-light" type="button">Suscribirse</button>
          </div>
        </form>
      </div>
    </div>
  </footer>
</div>
