<table class="table">
  <thead>
    <tr class="text-center">
      <th scope="col">Nro Venta</th>
      <th scope="col">Cliente</th>
      <th scope="col">Metodo Pago</th>
      <th scope="col">Precio Total</th>
      <th scope="col">Fecha</th>
      <th scope="col">Productos</th>
    </tr>
  </thead>
  <tbody>
    @for (pedido of (pedidos$ | async); track pedido.Id) {
      <tr class="text-center">
      <th scope="row">a</th>
      <td>prueba</td>
      <td>prueba</td>
      <td>prueba</td>
      <td>prueba</td>
      <td><button class="btn btn-sm btn-warning">Ver productos</button></td>
    </tr>
    }
    
    
  </tbody>
</table>

