<h3 class="mb-3">Productos Seleccionados</h3>

@if (productosCarrito.length === 0) {
<div class="alert alert-info text-center">
  <h4>Tu carrito está vacío</h4>
  <p>Agrega productos desde el catálogo</p>
</div>
} @else {
<div class="col-12 d-flex justify-content-center bg-body-secondary rounded-4 p-4">
  <div class="col-7 me-5">
    @for (producto of productosCarrito; track producto.id) {
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="producto.imagenUrl" class="img-fluid rounded-start ms-4 imagen p-5" [alt]="producto.nombre">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title mt-3">{{ producto.nombre }}</h5>
            <p class="card-text"><i class="bi bi-tag me-2"></i>Precio: ${{ producto.precioVenta}}</p>
            <button class="btn btn-outline-danger" (click)="eliminarProducto(producto.id)"><i
                class="bi bi-trash me-2"></i>Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="col-4 p-3 bg-white rounded-4">
    <h4 class="mb-3">Realice su pago</h4>
    <hr>
    <form>
      <div>
        <div class="mb-3">
          <label class="form-label fw-semibold">Nombre del Cliente</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.nombre" name="nombre">
        </div>

        <div class="mb-3">
          <label class="form-label fw-semibold">DNI del Cliente</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.dni" name="dni">
        </div>

        <div class="mb-3">
          <label class="form-label fw-semibold">Celular del Cliente</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.celular" name="celular">
        </div>
      </div>
      <div class="mb-3">
        <p><span class="fw-semibold">Cantidad de productos: </span>{{ productosCarrito.length }}</p>
        <p><span class="fw-semibold">Monto total: </span>${{ total.toFixed(2) }}</p>
      </div>

      <div class="mb-3">
        <label class="form-label fw-semibold">Seleccione el método de pago</label>
        <select class="form-select" [(ngModel)]="idMetodoPago" name="idMetodoPago">
          <option [ngValue]="null">Método de pago</option>
          @for (metodo of (metodoPago$ | async); track metodo.id) {
          @if (metodo.estado === 'ACTIVO') {
          <option [ngValue]="metodo.id">{{ metodo.nombre }}</option>
          }
          }
        </select>
      </div>

      <button type="button" class="btn btn-primary w-100" (click)="comprar()">
        Comprar Todo
      </button>
    </form>
  </div>
</div>
}