/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.layout-container {
  height: 100vh;      
  overflow: hidden;  
}

.content-area {
  padding: 2rem;
  height: 100vh;
  overflow-y: auto; 
}
